.card{
	min-height: 150px;
	padding: 10px;
	margin: 10px;
	border-radius: 3px;
	position: relative;
  text-align: center;
}

.card:hover {
	box-shadow: 1px 1px 3px gray;
	transition: box-shadow 0.3s ease-in-out;
}

.card img{
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 50%;
  width: 25%;
  padding: 20px;
}

.card h1{
  font-weight: lighter;
}

.card p{
  line-height: 1.4em;
  font-style: italic;
}