.bg-first {
	background:rgba(255,248,232,0.7);
}

.bg-second { 
	background: rgba(159,162,173, 0.7);
}

.bg-third {
	background: rgba(216,196,205,0.7)
}

.bg-fourth {
	background: rgba(225,234,212, 0.7);
}