a { text-decoration: none; }
a:hover { text-decoration: none; }

li { list-style: none; }

.container { 
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
}

#head { margin-top: 20px; }

#menu .box {
	position: fixed;
	text-align: center;
	overflow: hidden;
	z-index: -1;
	opacity: 0;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background: rgba(254, 247, 231,0.9);
	transition: all 0.3s ease-in-out;
}

.img {
	 border: 1px solid lightgray;
	 max-width:100%; max-height:100%; width: 100%;
	 z-index: 2;
	 position: relative;
}

.center {
  position: relative;
  top: 30%;
  transform: translateY(-30%);
}

#menu ul {
	position: relative;
	transform: scale(2);
	transition: all 0.3s ease-in-out;
}

#menu li {
	display: block;
	margin: 20px;
}

#menu li a {
	border-radius: 3px;
	padding: 15px;
	border: 1px solid transparent;
	text-decoration: none;
	font-size: 18px;
	color: black;
	transition: all 0.2s ease-in-out;
}

#menu li a:hover { color: #B9A882 }

#menu li a i {
	margin-right: 5px;
	font-size: 24px;
}

#toggle-nav-label {
	float: right;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	display: block;
	cursor: pointer;
	position: relative;
	z-index: 500;
	width: 30px;
	height: 30px;
}

#toggle-nav-label:after {
    content: "\2630 ";
}

#toggle-nav { display: none; }

#toggle-nav:checked ~ .box {
	opacity: 1;
	z-index: 400;
	transform: scale(1);
}

#toggle-nav:checked ~ .box ul {
	transform: scale(1);
}

#toggle-nav:checked ~ #toggle-nav-label {
	color: #B9A882;
	transition:color 1s ease;
}

@keyframes changeMenu {
  0% {
    content: "\2630 ";
  }
  50% {
    color:rgba(0,0,0,0);
  }
  100% {
    content: "\00D7 ";
  }
}

#toggle-nav:checked ~ #toggle-nav-label:after {
	content: "\00D7 ";
	animation: changeMenu 1s linear;
}

a {
	font-size: inherit;
	color: inherit;
	text-decoration: none;
}