@import 'animate';
@import 'blockquote';
@import 'card';
@import 'flexbox';
@import 'menu';
@import 'colors';
@import 'layout';
@import 'turbolinksprogress';
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    font-family: 'Lato', sans-serif;
	font-size: 14px;
}

html {
	background: url('../img/background.jpg') center;
	background-repeat: no-repeat;
	background-size: cover;
	height:100%;
	background-attachment: fixed;
}

.logo {
	width: 30px;
	border-radius: 50%;
	z-index: 9999;
	position: relative;
}