<header id="head">
	<div class="container">
		<nav id="menu">
			<input type="checkbox" id="toggle-nav" />
			<label class="right" id="toggle-nav-label" for="toggle-nav"></label>
			<span><img class="logo" src="img/logo.png"/></span>
			<div class="box">
				<div class="row container center">
					<div class="col">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/blog">Blog</a></li>
							<li><a href="/places">Places</a></li>
							<li><a href="/me">About Me</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</div>
</header>