<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Manolete</title>

	<meta name="description" content="Manuel Gugger">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="turbolinks-cache-control" content="no-cache">

	<script>
	document.addEventListener('turbolinks:before-render', function() {{
		event.data.newBody.children['content'].className = 'animated fadeIn';
	}});

	document.addEventListener('turbolinks:click', function() {{
			document.getElementById('content').className = 'animated fadeOut';
	}});
	</script>

	<link rel="stylesheet" href="css/styles.min.css">

	<script src="js/turbolinks.js"></script>
</head>

<body>
	<!-- start header -->
	{header}
	<!-- end header -->

	<!-- start content -->
	<section id="content" class="animated fadeIn">
		<div class="container">
			<div class="row">
				<div class="col-third">
					<a href="/blog">
						<div class="card bg-first">
							<h1>Le Blog</h1>
							<p>My not so up-to-date blog containing facts about not so relevant stuff</p>
						</div>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-third">
					<a href="/places">
						<div class="card bg-second">
							<h1>Lugares</h1>
							<p>A map with places of interest (to me...)</p>
						</div>
					</a>
				</div>
				<div class="col-third">
					<a href="/journey">
						<div class="card bg-third">
							<h1>Motorcycle Diaries</h1>
							<p>A short post about my journey from Argentina, Chile and Bolivia on a Honda 150XR</p>
						</div>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-third"></div>
				<div class="col-third">
					<a href="/me">
						<div class="card bg-fourth">
							<h1>About Me</h1>
							<p>Computer Scientist, Hobby Guitarist and I like Motorbikes</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- end content -->
</body>