path {
  stroke: black;
  stroke-width: 0.5px;
  fill: transparent;
}

#map {
  position: relative;
}

#pictureContainer {
	position: relative;
	text-align: center;
	overflow: hidden;
	z-index: -2;
  max-width: 100%;
  max-height: 100%;
  margin: 20px;
}

.year {
  padding: 4px !important;
}
  