.flipcard {
  margin: 2em auto;
  width: 10em;
  height: 10em;
  position: relative;
  font-size: 0.8em;
  -webkit-perspective: 600px;
  -moz-perspective: 600px; }

.flipcard .front {
  padding: 10px;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  border: 1px solid #e8e8e8;
  background: -moz-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  background: -webkit-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  background: -ms-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  background: linear-gradient(135deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  border-bottom-right-radius: 60px 5px;
  position: absolute;
  top: 0;
  z-index: 900;
  width: inherit;
  height: inherit;
  text-align: center;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  /* -- transition is the magic sauce for animation -- */
  -o-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out; }

.flipcard.flipped .front {
  z-index: 900;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg); }

.flipcard .back {
  padding: 10px;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  border: 1px solid #e8e8e8;
  background: -moz-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  background: -webkit-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  background: -ms-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  background: linear-gradient(135deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  position: absolute;
  top: 0;
  z-index: 800;
  width: inherit;
  height: inherit;
  -webkit-transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-transform: rotateY(-180deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  -o-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out; }

.flipcard.flipped .back {
  z-index: 1000;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg); }

img {
  max-width: 80%;
  max-height: 80%; }

div img {
  max-width: 100%;
  max-height: 100%; }

.rotate-6 {
  transform: rotate(-6deg); }

.rotate-4 {
  transform: rotate(-5deg); }

.rotate-2 {
  transform: rotate(-4deg); }

.rotate6 {
  transform: rotate(6deg); }

.rotate4 {
  transform: rotate(4deg); }

.rotate2 {
  transform: rotate(2deg); }

.center {
  text-align: center; }

.white {
  color: white !important; }

.lobster {
  font-family: 'Lobster', cursive; }

.polaroid {
  background-color: white;
  color: black;
  margin-top: 2em;
  padding: 1em;
  text-align: center;
  max-width: 80%;
  max-height: 40%;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7); }

.polaroid:empty {
  display: none; }

.polaroid img {
  filter: grayscale(50%) sepia(30%) opacity(85%) contrast(200%);
  -webkit-filter: grayscale(50%) sepia(30%) opacity(85%) contrast(200%); }

#map {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0; }

.noPadding {
  padding: 0 !important; }

body {
  background: url("../img/blackboard.jpg");
  background-size: cover;
  font-family: "Reenie Beanie", arial, sans-serif;
  font-size: 3em; }

