@import 'sass/flipcard';
@import 'sass/img';
@import 'sass/rotation';
@import 'sass/center';
@import 'sass/color';
@import 'sass/lobster';
@import 'sass/polaroid';
@import 'sass/map';
@import 'sass/nopadding';

body {
  background: url("../img/blackboard.jpg");
  background-size: cover;
  font-family: "Reenie Beanie", arial, sans-serif;
  font-size: 3em;
}
