.polaroid {
  background-color: white;
  color: black;
  margin-top: 2em;
  padding: 1em;
  text-align: center;
  max-width: 80%;
  max-height: 40%;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
}

.polaroid:empty {
  display: none;
}

.polaroid img {
  filter: grayscale(50%) sepia(30%) opacity(85%) contrast(200%);
  -webkit-filter: grayscale(50%) sepia(30%) opacity(85%) contrast(200%);
}
