.rotate-6 {
  transform: rotate(-6deg);
}

.rotate-4 {
  transform: rotate(-5deg);
}

.rotate-2 {
  transform: rotate(-4deg);
}

.rotate6 {
  transform: rotate(6deg);
}

.rotate4 {
  transform: rotate(4deg);
}

.rotate2 {
  transform: rotate(2deg);
}
